@model Backend.Models.Career

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Career</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PathName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PathName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalNumberAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalNumberAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Knowledge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Knowledge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duties)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abilities)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
