@model IEnumerable<Backend.Models.Career>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PathName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNumberAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Knowledge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abilities)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PathName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNumberAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Knowledge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abilities)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
