@model IEnumerable<Backend.Models.Review>

@{
    ViewData["Title"] = "CourseReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var course = (Course)ViewData["course"];
}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="blue mb-4">Reviews</h1>
            <div class="search mb-4">
                <input type="search" class="form-control navbar-search" id="exampleFormControlInput1" placeholder="Search by description">
            </div>

            <div class="row ratings-container grid gap-5">
                <div class="col-6">
                @foreach(Review review in Model)
                {                                 
                    <div class="col item mb-2">
                        <div class="head d-flex mb-3">
                            <div class="pic-container">
                                <!-- <img src="" alt=""> -->
                            </div>
                            <div>
                                <span>@review.User</span>
                                <div class="d-flex">
                                    <div class="ratings me-3">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </div>
                                    <span>@review.DateCreated</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <p>
                                @review.Comment 
                            </p>
                        </div>
                    </div>
                }
                </div>            

                <div class="col-4 reviewed-course">
                    <div class="content">
                        <h2 class="blue">@course.Title</h2>
                        <p>@course.Description</p>

                        <div class="created mb-4">
                            <span>Taught by: <a asp-controller="Courses" asp-action="Instructor" asp-route-id="@course.Id" class="orange-text">@course.Instructors[0].Name</a></span> |
                            <span class="ms-2">Taught in English</span>
                        </div>

                        <div class="include mb-3">
                            <div class="mb-2">
                                <span class="title">This course includes:</span>
                            </div>
                            <div class="mb-1">
                                <i class="bi bi-cloud-download"></i>
                                <span>10 articles</span>
                            </div>
                            <div class="mb-1">
                                <i class="bi bi-laptop"></i>
                                <span>Lifetime access</span>
                            </div>
                            <div class="mb-1">
                                <i class="bi bi-caret-right-square"></i>
                                <span>15 hours on-demand video</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div>
                                <span class="title">Beginner level</span>
                            </div>
                            <span>No prior experience required</span>
                        </div>

                        <div class="mb-3">
                            <div>
                                <span class="title">5 months at 5 hours a week</span>
                            </div>
                            <span>An estimated duration</span>
                        </div>

                        <div class="mb-4">
                            <div>
                                <span class="title">Flexible schedule</span>
                            </div>
                            <span>Learn at your own pace</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
